@using System.Data
<link href="c:\users\raman\source\repos\databaskonstruktion_testr\databaskonstruktion_testr\css\stylesheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<h2>Kids</h2>
@{
    DataTable kidsTable = ViewBag.AllKidTable;
    string tableHeader = "List of all kid";
}
<table class="table">
    <caption>@tableHeader</caption>
    <tr>
        @foreach (DataColumn dataColumn in ViewBag.AllKidTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
        <th>ActionLink</th>
    </tr>

    @foreach (DataRow kidRow in ViewBag.AllKidTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.AllKidTable.Columns.Count; ++i)
            {
                <td>@kidRow[i]</td>
            }
            <td>@Html.ActionLink("Delete", "DeleteKid", "Home", new { PNR = kidRow["PNR"] }, new { title = "Click to delete kid " + kidRow["NAME"] })</td>
        </tr>
    }

</table>


<h2>Toy</h2>
@{
    DataTable toyTable = ViewBag.AllToyTable;
    string tableHeaderTwo = "List of all Toys";
}
<table class="table">
    <caption>@tableHeaderTwo</caption>
    <tr>
        @foreach (DataColumn dataColumn in ViewBag.AllToyTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
        <th>ActionLink</th>
    </tr>

    @foreach (DataRow toyRow in ViewBag.AllToyTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.AllToyTable.Columns.Count; ++i)
            {
                <td>@toyRow[i]</td>
            }
            <td>@Html.ActionLink("Delete", "DeleteToy", "Home", new { toyId = toyRow["toyId"] }, new { title = "Click to delete toyId " + toyRow["toyName"] })</td>
        </tr>
    }

</table>


<h2>Wishlist</h2>
@{
    DataTable wishlistTable = ViewBag.AllWishlistTable;
    string tableWishlist = "List of all Wishlist";
}
<table class="table">
    <caption>@tableWishlist</caption>
    <tr>
        @foreach (DataColumn dataColumn in ViewBag.AllWishlistTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
        <th>ActionLink</th>
    </tr>

    @foreach (DataRow wishlistRow in ViewBag.AllWishlistTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.AllWishlistTable.Columns.Count; ++i)
            {
                <td>@wishlistRow[i]</td>
            }
            <td>@Html.ActionLink("Delete", "DeleteWishlist", "Home", new { toyId = wishlistRow["toyId"], year = wishlistRow["year"], PNR = wishlistRow["PNR"]  }, new { title = "Click to delete toyId " + wishlistRow["description"] })</td>
        </tr>
    }

</table>





<h2>Find Invoice Rows</h2>
<form method="post" action="@Url.Action("SearchWishlistRow", "Home")">
    <label>
        Toy Id:
        <select name="toyId">
            @foreach (var row in ViewBag.AllWishlistTable.Rows)
            {
                <option value="@row["year"]">@row["description"]</option>
            }
        </select>
    </label>
    <input type="submit" value="Search" />
</form>